body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.md-fab-big md-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.md-buttom-large {
    width: 200px;
}

.md-toast-error .md-toast-content {
    background-color: #B71C1C!important;
}

.md-toast-success .md-toast-content {
    background-color: #388E3C!important;
}

.md-toast-info .md-toast-content {
    background-color: #2196F3!important;
}

@import 'page-animations';
@import 'page-login';