/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

[ui-view].ng-enter {
    -webkit-animation: fadeInUpBig 0.4s;
}

[ui-view].ng-leave {
    -webkit-animation: fadeOutDownBig 0.4s;
}