body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.md-fab-big md-icon {
  font-size: 40px;
  height: 40px;
  width: 40px; }

.md-buttom-large {
  width: 200px; }

.md-toast-error .md-toast-content {
  background-color: #B71C1C !important; }

.md-toast-success .md-toast-content {
  background-color: #388E3C !important; }

.md-toast-info .md-toast-content {
  background-color: #2196F3 !important; }

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view] {
  height: 65px; }

.ui-view-container {
  position: relative; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0; }

[ui-view].ng-enter {
  -webkit-animation: fadeInUpBig 0.4s; }

[ui-view].ng-leave {
  -webkit-animation: fadeOutDownBig 0.4s; }

.login-top-background {
  background-color: #2196f3;
  width: 100%;
  height: 33%;
  position: absolute; }

.logo-login {
  width: 115px;
  height: 115px;
  line-height: 110px;
  font-size: 86px;
  font-weight: 500;
  margin: 32px auto 0px auto;
  color: #FFF;
  border-radius: 2px; }

.logo-forgot,
.logo-signup {
  width: 115px;
  height: 115px;
  line-height: 110px;
  font-size: 86px;
  font-weight: 500;
  margin: 0px auto 0px auto;
  color: #FFF;
  border-radius: 2px; }

#login-form .md-accent-bg {
  background-color: #039be5;
  color: white; }

#login-form .md-accent-bg span {
  margin-left: 35px; }

#login-form h3 {
  margin-top: 0px; }

#login-form {
  font-size: 13px; }

#login-form a {
  text-decoration: none;
  font-weight: 700; }

#login-form a:hover {
  text-decoration: underline; }
