<div class="login-top-background">
        
</div>
<div flex layout="row" layout-fill layout-align="center center">
    <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-content id="login-form" flex layout="column" layout-padding >
            <div class="logo md-accent-bg">
                <span>S</span>
            </div>
            <h3 class="md-subhead" style="text-align: center;">
                Log in to your account.
            </h3>
            <form name="projectForm" novalidate>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input name="username" ng-model="vm.username">
                    <!--<div ng-messages="vm.username.$error">
                        <div ng-message="required">This is required.</div>
                    </div>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input name="password" ng-model="vm.password">
                    <!--<div ng-messages="vm.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>-->
                </md-input-container>
                <div layout="row" id="login-forgot">
                    <md-checkbox aria-label="Remember me">
                        Remember me
                    </md-checkbox>
                    <span flex></span>
                    <a href="#">
                        Forgot Password?
                    </a>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary md-buttom-large" aria-label="LOG IN">
                        LOG IN
                    </md-button>
                </div>
            </form>
        </md-content>
    </md-whiteframe>
</div>