<div class="login-top-background">
        
</div>
<div flex layout="row" layout-fill layout-align="center center">
    <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-content id="login-form" flex layout="column" layout-padding >
            <md-button class="md-icon-button md-primary" ng-click="vm.back()">
                <md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
            </md-button>
            <div class="logo-signup md-accent-bg">
                <span>S</span>
            </div>
            <h3 class="md-subhead" style="text-align: center;">
                Create your account
            </h3>
            <form name="signupForm" novalidate>
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input required name="firstName" ng-model="vm.firstName">
                    <div ng-messages="signupForm.firstName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input required name="lastName" ng-model="vm.lastName">
                    <div ng-messages="signupForm.lastName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="email" required name="username" ng-model="vm.username">
                    <div ng-messages="signupForm.username.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">Invalid email address.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required name="password" ng-model="vm.password">
                    <div ng-messages="signupForm.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary md-buttom-large" aria-label="LOG IN">
                        SIGNUP
                    </md-button>
                </div>
            </form>
        </md-content>
    </md-whiteframe>
    
</div>